<menu>

    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a sec:authorize="hasRole('USER')" class="nav-link" href="/form/user/forms">My Applications</a>
                    </li>
                    <li class="nav-item">
                        <a sec:authorize="hasRole('MODERATOR')" class="nav-link" href="/form">Applications</a>
                    </li>
                    <li class="nav-item">
                        <a sec:authorize="hasRole('USER')" class="nav-link" href="/form/new">Create Application</a>
                    </li>
                    <li class="nav-item">
                        <a sec:authorize="hasRole('ADMIN')" class="nav-link" href="/users">Users</a>
                    </li>
                    <li sec:authorize="isAuthenticated()"  class="nav-item">
                        <form th:action="@{/logout}" method="post">
                            <input type="submit"  class="btn btn-primary" value="Sign Out"/>
                        </form>
                    </li>
                    <li sec:authorize="!isAuthenticated()"  class="nav-item">
                        <a  class="btn btn-primary" href="/login">Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</menu>
